
body {
	background-color: black;
	font-family: "Montserrat", sans-serif;
}

.jumbotron {
	background-color: black;		
}

.container {
	background-image: url(../images/background.jpg);
	color: white;
	height: 980px;
}

h1 {
	text-align: right;
	padding-right: 75px;
	color: black;
	font-family: "Andala Mono";
}

.character {
	float: left;
	background-color: white;
	margin-left: 5px;
	border-color: green;
	border-style: solid;
	color: black;
	font-size: 14px;
	text-align: center;
}

img {
	padding: 5px;
}

.row {
	padding-left: 10px;
}


h3 {
	color: black;
	font-family: "Andala Mono";	
}

h6 {
	text-align: center;
	font-size: 10px;
}

#opponentOptions{
	height: 150px;
}

.selectCharacter {
	width: 175px;
	background-color: white;
	margin-left: 5px;
	border-color: green;
	border-style: solid;
	color: black;
	font-size: 14px;
	text-align: center;
}

.changeColor {
	background-color: red;
	border-color: red;
	width: 175px;
}

#defender {
	width: 175px;
	margin-top: 5px;
	
}

#attack {
	margin-top: 5px;
	padding: 10px;
}

.enemyCharacter {
	margin-left: 5px;
	text-align: center;
}

.changeOppColor {
	background-color:black;
	border-color: black;
	color: white;
	width: 175px;
}

#fightSection {
	margin-top: 10px;
} 
