

.wrapper {
	background-color: black;
	height: 1028px;
}

.jumbotron {
	background-color: black;
}

.container {
	background-image: url(../images/background.jpg);
	color: white;
	height: 650px;
}

h1 {
	text-align: right;
	padding-right: 75px;
	color: black;
	font-family: "Andala Mono";
}

.col-md-2 {
	padding-left: 20px;
	background-color: white;
	margin-left: 2px;
	border-color: green;
	border-style: solid;
}

.row {
	padding-left: 10px;
}

h3 {
	color: black;
	font-family: "Andala Mono";
	
}

h6 {
	text-align: center;
	font-size: 10px;
}

#powerObi, #powerLuke, #powerSid, #powerMaul {
	color: black;
	font-size: 10px;
	text-align: center;
}
